
.Navigation{
  height:4vh;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:15px;
  background:rgb(2, 3, 22);
  color:white;
  border-bottom:1px solid #263238
}

.Navigation nav ul {
  display:flex;
  list-style:none;
  width:15vw;
  justify-content: space-around;
}
.Navigation_logo_sup{
  font-size:15px;
}
.pane{
  display:flex;
  justify-content: space-between;

}
.top-pane{
  height:38vh;
}
.bottom-pane{
  height:62vh;
}

.Editor{
  background:black;
  width:100%;
  height:36vh;
  padding:8px 8px 8px 8px;
}
.EditorHeader{
 
  display:flex;
  justify-content:space-between;
 
}
.EditorHeader_TitleContainer{
  background:#263238;
  border-top:2px solid turquoise;
}
.EditorHeader_Title{
  color:turquoise;
  font-size:.8em;
  padding: 0px 10px 0px 10px;
  
 

}


.EditorHeader_Resize{

}
.EditorConsole{
  
  

  
}
.CodeMirror{
  height:30vh !important;
  border:1px solid rgba(255,255,255,0.1);
}

.Display{
  width:100%;
 height:100% !important;
}